<!doctype html>
<head>
<link href='res/css/style.css' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Montserrat&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css'>
<meta name="viewport" content="width=1920, initial-scale=1">
<title>Nullpomino 40l report - generated {{infodict["gendate"]}}</title>
</head>
<body>
<div id="head"><h1>{{infodict["name"]}}'S 40L REPORT</h1>
<h2>{{infodict["startdate"]}} - {{infodict["lastgame"]}}</h2>
<span>(a report spanning over {{infodict["rangedelta"]}})</span>
</div>
<div id="totgames"><h1>{{infodict["totgames"]}} TOTAL GAMES</h1></div>
<div id="tothours"><h1>{{infodict["tothours"]}} HOURS SPENT</h1></div>
<div id="totpieces"><h1>{{infodict["totpieces"]}} PIECES PLACED</h1></div>
<div id="totrots"><h1>{{infodict["totrots"]}} ROTATIONS</h1></div>
<div id="totmoves"><h1>{{infodict["totmoves"]}} MOVES</h1></div>
<div id="totfaults"><h1>{{infodict["totfaults"]}} FINESSE FAULTS</h1></div>
<div id="lines"><h1>{{infodict["totlines"]}} LINES CLEARED</h1>
<h2>{{infodict["totsingles"]}} SINGLE LINE CLEARS</h2>
<h2>{{infodict["totdoubles"]}} DOUBLE LINE CLEARS</h2>
<h2>{{infodict["tottriples"]}} TRIPLE LINE CLEARS</h2>
<h2>{{infodict["tottetrises"]}} TETRISES</h2></div>
<div id="ppm"><h1>AVERAGE PIECES PER MINUTE: {{infodict["avgppm"]}}</h1>
<h2>FASTEST PPM IN A GAME: {{infodict["fastestppm"]}}</h2></div>
<div id="times"><h1>AVERAGE FINISH TIME: {{infodict["avgtime"]}}</h1>
<h2>FASTEST FINISH TIME: {{infodict["fastesttime"]}}</h2></div>
</body>
